.container {
  display: grid;
  margin: 2.4rem 0 0 0;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgb(0,0,0);
  color: #fff;
  margin: 0;
  padding: 0;
  border: solid 0.3rem #000;
  text-align: center;
  font-weight: bolder;
  line-height: 1.5;
}

.nav-bar ul:first-child {
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  color: rgba(255, 255, 250, 0.8);
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar a:hover,
.auth-button:hover {
  color: rgb(255, 255, 0);
  cursor: pointer;
}

.auth-button {
  background: transparent;
  border: none;
  color: rgba(255, 255, 250, 0.8);
  font-size: 1.2rem;
  font-weight: bolder;
}

.form-wrapper {
  display: flex;
}

.form-wrapper .register-form,
.form-wrapper .signin-form,
.add-todo-form,
.add-journal-form {
  background: rgb(1, 1, 39);
  color: #fff;
  display: grid;
  width: 90vw;
}

.form-wrapper .add-todo-form .input-group:first-child {
  margin: 1rem 0 0 0;
}

.register-form input,
.signin-form input,
.add-todo-form input,
.add-journal-form input {
  background: transparent;
  color: #fff;
  border: solid thin #dde;
  border-radius: 5px;
  width: 80vw;
  height: 26px;
  margin: 0 0 0.9rem 0;
  padding: 0 0 0 0.2rem;
}

.register-form input:first-child,
.signin-form input:first-child {
  margin: 1.3rem 0 0 0;
}

.register-form input[type="submit"],
.signin-form input[type="submit"],
.add-todo-form input[type="submit"],
.add-journal-form input[type="submit"] {
  background: transparent;
  color: #fff;
  max-width: 12vw;
  height: 20px;
  font-weight: bolder;
  font-size: 1.1rem;
  padding: 0 0.5rem 0 0.5rem;
  margin: 1rem 0 1rem 0;
}

.register-form input[type="submit"]:hover,
.signin-form input[type="submit"]:hover
.add-todo-form input[type="submit"]:hover,
.add-journal-form input[type="submit"]:hover {
  cursor: pointer;
}

.add-journal-form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 0.1rem;
}

.add-journal-form input[type="checkbox"] {
  margin: 0;
  padding: 0;
  max-width: 5vw;
  width: 2vw;
}

.add-journal-form .input-group {
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  width: 80vw;
  height: 10vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-item,
.list-item * {
  margin: 0;
  padding: 0;
}

.list-item .todo-item {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.list-item .todo-item .todo-item-controls {
  background: rgb(187, 219, 226);
  color: rgb(3, 0, 0);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list-item .todo-item .todo-item-controls .todo-delete {
  margin: 0;
  padding: 0;
  border: none;
  color:  rgb(121, 2, 15);
  box-sizing: border-box;
  line-height: 0.9;
}

.list-item .todo-item .todo-item-controls .todo-completed {
  box-sizing: border-box;
  margin: 0 0 0 0.2rem;
  padding: 0.1rem;
  display: flex;
  align-items: stretch;
  line-height: 0.9;
}

.list-item .todo-item .todo-item-controls .todo-completed input[type="checkbox"]:hover,
.list-item .todo-item .todo-item-controls .todo-delete-button:hover {
  cursor: pointer;
}

.list-item .todo-item .todo-item-controls .todo-delete-button {
  margin: 0 0.5rem 0 0;
  padding: 0.1rem;
  background: transparent;
  border: none;
}

.list-item .todo-item .todo-item-controls .todo-delete-button:hover {
  border: solid 1pt #fff;
}

.journal-list-parent .journal-list {
  display: grid;
}

.panel {
  display: grid;
  margin: 0.5rem 0 0 0;
  padding: 0;
  grid-row-gap: 0.4rem;
  justify-content: start;
  grid-template-areas: 
  'journal-body journal-body journal-body journal-body'
  'journal-detail journal-detail journal-detail .';
}

.panel .journal-body {
  grid-area: journal-body;
  margin: 0;
  padding: 0;
  text-align: left;
}

.panel .journal-detail {
  grid-area: journal-detail;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.panel .journal-detail * {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.panel .journal-detail .journal-author {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: start;
  justify-items: start;
}

.panel .journal-detail .journal-author .detail {
  font-size: 0.8rem;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.mission-parent {
  font-family: cursive, 'Times New Roman', Times, serif;
  font-weight: 888;
  font-size: 1.6rem;
}